h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header {
  background-color: #ffffff;
  color: #2e2f42;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
  display: flex;
  padding: 24px 0;
}

.header-div {
  display: flex;
}

.page-header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.page-header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: 3%;
  cursor: pointer;
  margin-right: 76px;
  text-decoration: none;
  font-size: 18px;
}

.header-logo-web {
  color: #4d5ae5;
}
.header-logo-studio {
  color: #2e2f42;
}

.page-header-nav-list {
  display: flex;
  gap: 40px;
}

.page-header-nav-list-item {
  padding: 24px 0;
}

.page-header-nav-link {
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
}

.page-header-nav-link:hover {
  color: #404bbf;
}

/* HEADER CONTACT */

.page-header-contact {
  flex-grow: 1;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  gap: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
  align-items: center;
  justify-content: center;
}

.page-header-contact-list {
  display: flex;
  gap: 40px;
}

.page-contact-link {
  text-decoration: none;
  color: #434455;
}

.page-contact-link:hover {
  color: #404bbf;
}

/* HEADER END */

/* MAIN SECTION ONE */

.section-one {
  background-color: #2e2f42;
  margin: 0 auto;
  display: flex;
  max-width: 1440px;

  max-height: 600px;
  align-items: center;
  padding: 188px 0;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(/images/one-background-img.jpg);
background-size: cover;
background-position: center;


}

.section-one-div {
  justify-content: center;
  color: #fff;
}

.h-section-one {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.3em;
  letter-spacing: 2%;
  text-align: center;
  margin: 0 auto;
}

.button-section-one {
  display: block;
  min-width: 169px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  margin-top: 50px;
}

.button-section-one:hover {
  background-color: #404bbf;
}

/* SECTION ONE END */

/* SECTION TWO  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two {
  padding: 120px 0;
  display: flex;
  line-height: 1.5em;
  letter-spacing: 2%;
}

.section-two-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.section-two-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.section-two-h {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.section-two-paragraph {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}

/*  SECTION TWO END */

/*  SECTION TREE START */

.section-tree {
  max-height: 732px;
  padding: 120px 0;
  background-color: #f4f4fd;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  

}

.section-tree-ourteam {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 2%;
  text-align: center;
  margin-bottom: 72px;
}

.section-tree-ul {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;


}

.section-tree-list {
  width: 264px;
  height: 428px;
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 6px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  padding: 32px 0;
  text-align: center;

}

.section-tree-personal-list {
  padding: 32px 0;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;



}


.social-media {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
}


.social-media-icons {
  width: 40px;
  height: 40px;
}



.section-tree-h {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  letter-spacing: 2%;
  line-height: 1.5em;
  text-align: center;



}

.section-tree-p {
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5em;
  letter-spacing: 2%;
  text-align: center;


}

.section-tree img {
  display: block;
}

.section-tree img:hover {
  opacity: 0.8;
}

/* SECTION TREE END */

/* SECTION FOUR START */

.section-four {
  display: flex;
  padding: 120px 0;
}

.section-four-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  text-align: center;
  letter-spacing: 2%;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-four-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-family: Roboto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-list-item:hover .overlay {
  transform: translateY(0);
}


.section-four-list-item {
  flex-wrap: wrap;
  flex-basis: calc((100% - 72px) / 4);
  margin-bottom: 8px;
}

.section-four img {
  display: block;
  cursor: pointer;
}

.section-four-list-div {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  margin-bottom: 8px;

}



.section-four-app {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 2%;
  margin-bottom: 8px;
}

.section-four-paragraph {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 2%;
}
/* SECTION FOUR END */

/* FOOTER */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer-div {
  letter-spacing: 2%;
  color: #f4f4fd;
  margin: 0 auto;
  display: flex;


}

.footer-general{

  display: flex;
  gap: 120px;
  list-style-type: none;

}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3em;
}

.footer-logo-web {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.footer-paragraph {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #f4f4fd;

}







/* --------------------------------------------- */

.footer-social-items {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.footer-social-icons {
  width: 40px;
  height: 40px;
}

.footer-social-head {
  color: #ffffff;
  font-family: Roboto;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.icon1 {
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.icon-2 {
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.icon-3 {
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.icon-4 {
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.social-media {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.social-media-icons {
  width: 40px;
  height: 40px;
}

.footer-general {
  display: flex;
  list-style-type: none;
  gap: 120px;
}

#insta-icon {
  --color1: #4d5ae5;
  --color2: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#insta-icon:hover {
  --color1: #404bbf;
}

#twitter-icon {
  --color1: var(--color1);
  --color2: var(--color2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#twitter-icon:hover {
  --color1: #404bbf;
}

#face-icon {
  --color1: var(--color1);
  --color2: var(--color2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#face-icon:hover {
  --color1: #404bbf;
}

#linked-icon {
  --color1: var(--color1);
  --color2: var(--color2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#linked-icon:hover {
  --color1: #404bbf;
}

#footer-insta {
  --color1: #4d5ae5;
  --color2: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#footer-insta:hover {
  --color1: #31d0aa;
}

#footer-twitter {
  --color1: var(--color1);
  --color2: var(--color2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#footer-twitter:hover {
  --color1: #31d0aa;
}

#footer-face {
  --color1: var(--color1);
  --color2: var(--color2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#footer-face:hover {
  --color1: #31d0aa;
}

#footer-linkedin {
  --color1: var(--color1);
  --color2: var(--color2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#footer-linkedin:hover {
  --color1: #31d0aa;
}

#form-label {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: bold;
}
#form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: transparent;
  max-width: 264px;
  max-height: 40px;
  padding: 8px 16px;
}
#form-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2%;
  color: #ffffff;
  letter-spacing: 4%;
}
#foot-button {
  max-width: 165px;
  max-height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  margin-left: 24px;
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#foot-button:hover {
  background-color: #404bbf;
}
#foot-button:focus {
  background: #404bbf;
}

#icon-telegram {
  align-items: center;
  justify-content: end;
}

.modal {
  background-color: #fcfcfc;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 2px 1px 0px #00000033;
  max-width: 408px;
}

.modal-title {
  padding-left: 10px;
  font-family: Roboto;
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
.svg-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 8px;
}
.input-icon {
  position: absolute;
  left: 16px;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  display: flex;
  flex-direction: column;
}
.items {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 1.16;
  color: #8e8f99;
  width: 360px;
}
#name {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#name:hover {
  border: 1px solid #4d5ae5;
}
#name:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
#name:focus + .input-icon {
  fill: #4d5ae5;
}

#tel {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#tel:hover {
  border: 1px solid #4d5ae5;
}
#tel:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
#tel:focus + .input-icon {
  fill: #4d5ae5;
}

#email {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#email:hover {
  border: 1px solid #4d5ae5;
}
#email:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
#email:focus + .input-icon {
  fill: #4d5ae5;
}
.open-close {
  position: absolute;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color3: #e7e9fc;
  --color5: #2e2f42;
  ---color4: none;
}
.open-close:hover {
  --color2: #404bbf;
  --color4: #ffffff;
  --color3: none;
}
.open-close:focus {
  --color2: #404bbf;
  --color4: #ffffff;
  --color3: none;
}
.close-icon {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}
#modal-button {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 4%;
  text-align: center;
  display: block;
  gap: 10px;
  width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
#modal-button:hover {
  background-color: #404bbf;
}
#modal-button:focus {
  background-color: #404bbf;
}
.send-button {
  margin-top: 24px;
}
.check-div {
  margin-top: 16px;
}
#checkbox {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 1.16;
  color: #8e8f99;
  cursor: pointer;
  display: flex;
}
#checkbox input[type="checkbox"] {
  margin-right: 8px;
}
.privacy {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 1.3;
  margin-left: 4px;
}

.generally {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  position: fixed;
  top: 0;
  background-color: #2e2f4266;
}
#textarea {
  max-width: 360px;
  height: 120px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  padding-top: 8px;
  padding-left: 16px;
  margin-top: 4px;
  resize: none;
}
#textarea:hover {
  border: 1px solid #4d5ae5;
}
#textarea:focus {
  border: 1px solid #4d5ae5;
}
#textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 1.16;
  color: #75757580;
}
